body {
    font-family: Arial, sans-serif;
    margin:auto;
    padding:auto;
    background-color:#739072;
    background-image: url(conservation.jpg); 
    background-size: cover;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(conservation.jpg); /* Replace with your image path */
    background-size: cover;
    position: relative;
    overflow: hidden;
}

p{
    line-height: 30px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5b4f2c3d;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #70111100;
  }

header {
    background-color:#5b4f2cd9;
    color: #fff;
    padding: 5px;
    max-width: 100%;
    text-align: center;
    
}

header {
    background-color:#5b4f2cd9;
    color: #fff;
    padding: 5px;
    max-width: auto;
    text-align: center;
    
}

header {
    display: flex;
    align-items: center; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

.scroll-bar{
    height: 600px;
    width: 100%;
    overflow:auto;
}


h1 {
    color: #ffffff;
}

h2 {
    color: #fff;
}

h3 {
    color: #fff;
}

h4 {
    color: #fff;
}

h5 {
    color: #fff;
}

h6 {
    color: #fff;
}

p {
    color: #fff;
}

a {
    color: black;
    text-decoration: none;
}

/* Change color on hover */
a:hover {
    color: rgb(150, 180, 150);
}


a {
    color: black;
    text-decoration: none;
}

/* Change color on hover */
a:hover {
    color: rgb(150, 180, 150);
}



img {
    margin-right:500px;
    order: -1;  
}

nav {
    background-color:#5b4f2c7e;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin:10px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column { 
    width: 30.33%;
    padding: 50px;;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table
  }

.section{
    padding: 20px;
}

section {
    padding: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-color: black;
    background-color:#443a1d7e;
    color: #fff;
    text-align: center;
    padding: 30px;
    font-family: 'monospace';
}